<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN" xml:lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Leequangang" />
<meta name="keywords" content="life,PRML,software" />
<meta name="author" content="Leequangang" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<link rel="alternate" type="application/atom+xml" href="http://leequangang.github.com/atom.xml" />

<title>LQG's Blog</title>


<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div>Lee<span class="fade">quangang</span></a></h1>
		<div class="slogan">
				<a href="/math.html" class="green">Math</a> |
				<a href="/notes.html" class="orange">Notes</a> | 
				<a href="/tech.html" class="bule">Tech</a> |
				<a href="/life.html" class="pink">Life</a> |
				<a href="/resource.html" class="cyan">Resource</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    Email:<b>leequangang[at]gmail.com</b>   Theme from <a href="http://danhixon.github.com/">Dan Hixon</a>

<p>&copy; 2013 <a href="/about.html">Lee quangang</a>

</div>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4105222-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>

